<mat-dialog-content>
  <h2>Zmień hasło:</h2>
  <form [formGroup]="passwordForm" (ngSubmit)="onChangePassword()">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Stare Hasło</mat-label>
        <input matInput formControlName = "oldPassword">
        <mat-error *ngIf="controls.oldPassword.invalid">{{getErrorMessage(controls.oldPassword)}}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Nowe Hasło</mat-label>
        <input matInput formControlName="newPassword">
        <mat-error *ngIf="controls.newPassword.invalid">{{getErrorMessage(controls.newPassword)}}</mat-error>
      </mat-form-field>
    </div>
    <div class="d-flex justify-content-end">
      <button mat-raised-button color="warn" (click)="closeDialog()" type="button">Anuluj</button>
      <button mat-raised-button color="primary" type="submit" class="mx-1" [disabled]="passwordForm.invalid">Zmień Hasło</button>
    </div>
    <app-alert *ngIf="errorMessage" [text]="errorMessage"></app-alert>
  </form>
</mat-dialog-content>
