<nav>
  <mat-toolbar color="primary">
    <span>Library App</span>
    <span class="spacer"></span>
    <div class="button-group">
      <button mat-button routerLink="/">Strona główna</button>
      <button mat-button routerLink="/books">Książki</button>
      <button mat-button routerLink="/users" *ngIf="isAdmin">Użytkownicy</button>
      <button mat-button routerLink="/my-account" *ngIf="user">Moje Konto</button>
      <button mat-button routerLink="/logowanie" *ngIf="!user">Logowanie</button>
      <button mat-button (click)="logout()" *ngIf="user">Wyloguj się</button>
    </div>
  </mat-toolbar>
</nav>
