.register-wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.columns {
  display: flex;
  justify-content: center;
}

.column {
  flex: 1;
  padding: 10px;
  margin: 5px;
}

mat-form-field {
  width: 400px;
}

h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

