.green-circle {
  width: 20px;
  height: 20px;
  background-color: green;
  border-radius: 50%;
}

.red-circle {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
}

.center-form {
  display: flex;
  align-items: center;
  justify-content: center;
}
