<mat-dialog-content>
  <h2>Zmień Typ Konta:</h2>
  <form [formGroup]="roleForm" (ngSubmit)="onChangeRole()">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Nowa Rola</mat-label>
        <mat-select [(ngModel)]="selectedValue" formControlName="role">
          <mat-option *ngFor="let r of roles" [value]="r.value">
            {{r.viewValue}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="controls.role.invalid">{{getErrorMessage(controls.role)}}</mat-error>
      </mat-form-field>
    </div>
    <div class="d-flex justify-content-end">
      <button mat-raised-button color="warn" (click)="closeDialog()" type="button">Anuluj</button>
      <button mat-raised-button color="primary" type="submit" class="mx-1" [disabled]="roleForm.invalid">Zmień Role</button>
    </div>
    <app-alert *ngIf="errorMessage" [text]="errorMessage"></app-alert>
  </form>
</mat-dialog-content>
